.theme-btn {
    background: transparent;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .theme-btn:hover {
    background: var(--accent-color);
    color: var(--background-color);
  }
  
  /* Active state */
  .theme-btn.active {
    background: var(--accent-color);
    color: var(--background-color);
    border-color: var(--accent-color);
  }
  
  /* Inactive state */
  .theme-btn.inactive {
    background: transparent;
    color: var(--accent-color);
    border-color: var(--accent-color);
    opacity: 0.7;
  }
  
  
  .language-switcher {
    display: flex;
    gap: 10px;
  }
  
  .lang-btn {
    background: transparent;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    padding: 6px 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
  }
  
  .lang-btn:hover {
    background: var(--accent-color);
    color: var(--background-color);
  }
  
  /* Active state */
  .lang-btn.active {
    background: var(--accent-color);
    color: var(--background-color);
    border-color: var(--accent-color);
  }
  
  /* Inactive state */
  .lang-btn.inactive {
    background: transparent;
    color: var(--accent-color);
    border-color: var(--accent-color);
    opacity: 0.7;
  }

  .project-details .portfolio-info .btn-visit {
    padding: 8px 40px;
    background: var(--accent-color);
    color: var(--contrast-color);
    border-radius: 4px;
    transition: 0.2s;
  }
  
  .project-details .portfolio-info .btn-visit:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
  }

  /*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background-color: var(--accent-color);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.3s;
  }
  
  .scroll-top i {
    font-size: 24px;
    color: var(--default-color);
    line-height: 0;
  }
  
  .scroll-top:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
    color: var(--contrast-color);
  }
  
  .scroll-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  .hero .contact-us-button {
    color: var(--contrast-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    transition: 0.4s;
    margin: 10px;
    border: 2px solid var(--accent-color);
  }
  
  .hero .contact-us-button:hover {
    background: var(--accent-color);
    color: var(--contrast-color);
  }

  .projects .more-button {
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    transition: 0.4s;
    margin: 10px;
    border: 2px solid var(--accent-color);
  }
  
  .projects .more-button:hover {
    background: var(--accent-color);
    color: var(--contrast-color);
  }

  .project-details .swiper-button-prev,
.project-details .swiper-button-next {
  width: 48px;
  height: 48px;
}

.project-details .swiper-button-prev:after,
.project-details .swiper-button-next:after {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 24px;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.project-details .swiper-button-prev:hover:after,
.project-details .swiper-button-next:hover:after {
  background-color: rgba(0, 0, 0, 0.3);
}

.contact .offer-button {
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    transition: 0.4s;
    margin: 10px;
    margin-bottom: 37px;
    border: 2px solid var(--accent-color);
  }
  
  .contact .offer-button:hover {
    background: var(--accent-color);
    color: var(--contrast-color);
  }

  .search-widget form button {
    background: var(--accent-color);
    color: var(--contrast-color);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    font-size: 16px;
    padding: 0 15px;
    margin: -1px;
    transition: 0.2s;
    border-radius: 0 4px 4px 0;
    line-height: 0;
  }
  
  .search-widget form button i {
    line-height: 0;
  }
  
  .search-widget form button:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 20%);
  }
  