@use './sections/_hero.scss';
@use './sections/_get-started.scss';
@use './sections/_constructions.scss';
@use './sections/_services.scss';
@use './sections/_alt-services.scss';
@use './sections/_features.scss';
@use './sections/_projects.scss';
@use './sections/_recent-blog-posts.scss';
@use './sections/_about.scss';
@use './sections/_stats-counter.scss';
@use './sections/_alt-services-2.scss';
@use './sections/_team.scss';
@use './sections/_features-cards.scss';
@use './sections/_service-details.scss';
@use './sections/_project-details.scss';
@use './sections/_blog-posts.scss';
@use './sections/_blog-pagination.scss';
@use './sections/_blog-details.scss';
@use './sections/_contact.scss';
@use './sections/_starter-section.scss';
/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 92px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 76px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
  }
  
  .section-title h2:before,
  .section-title h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: var(--accent-color);
    display: inline-block;
  }
  
  .section-title h2:before {
    margin: 0 15px 10px 0;
  }
  
  .section-title h2:after {
    margin: 0 0 10px 15px;
  }
  
  .section-title p {
    margin-bottom: 0;
  }