{% extends "common/base_en.html" %}
{% set lang = "en" %}
{% set page_title = "Movasol - Projects" %}
{% set body_class = "projects-page" %}
{% block content %}

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(/assets/img/page-title-bg.jpg);">
      <div class="container position-relative">
        <h1>Projects</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/en/">Home</a></li>
            <li class="current">Projects</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Projects Section -->
    <section id="projects" class="projects section">

      <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
            <li data-filter=".filter-construction">Kivitelezés</li>
            <li data-filter="*" class="filter-active">Összes</li>
            <li data-filter=".filter-remodeling">Üzemeltetés</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/galgaguta.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>63 MWp</h4>
                  <p>Galgaguta</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/tazlar.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>63 MWp</h4>
                  <p>Tázlár</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/kaposvar.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>55 MWp</h4>
                  <p>Kaposvár</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-design">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/kat-a.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>26 MWp</h4>
                  <p>KAT-A</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/szazhalombatta.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>21.3 MWp</h4>
                  <p>Százhalombatta</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/paks.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>21 MWp</h4>
                  <p>Paks</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/translog.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>13 MWp</h4>
                  <p>Translog</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-design">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/tiszaszolos.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>7.9 MWp</h4>
                  <p>Tiszaszőlős</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/letavertes.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>6.3 MWp</h4>
                  <p>Létavértes</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-design">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/szarvas_alattany.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>5 X 0.6 MWp</h4>
                  <p>Alattány</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-design">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/jnsz.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>3 X 0.6 MWp</h4>
                  <p>Jász-Nagykun-Szolnok</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/varpalota.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>1.8 МWp</h4>
                  <p>Várpalota</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-remodeling">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/balatonendred.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>3 X 0.5 MWp</h4>
                  <p>Balatonendréd</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->            

            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/laskod.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>1.2 МWp</h4>
                  <p>Laskod</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-design">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/abadszalok.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>2 X 0.6 MWp</h4>
                  <p>Abádszalók</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/lenti.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>0.6 MWp</h4>
                  <p>Lenti</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/berement.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>0.6 MWp</h4>
                  <p>Berement</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-design">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/cigand.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>0.6 MWp</h4>
                  <p>Cigánd</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-design">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/csokako.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>0.6 MWp</h4>
                  <p>Csókakő</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-repairs">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/zalaapati.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>0.6 MWp</h4>
                  <p>Zalaapáti</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            
            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-construction">
              <div class="portfolio-content h-100">
                <img src="/assets/img/projects/nagyszenas.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>0.5 MWp</h4>
                  <p>Nagyszénás</p>
                  <a href="projektek-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                </div>
              </div>
            </div><!-- End Portfolio Item -->
            

          </div><!-- End Portfolio Container -->

        </div>

      </div>

    </section><!-- /Projects Section -->

    {% endblock %}