// main: ../main.scss
/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item {
    background-color: var(--surface-color);
    padding: 20px 0 30px 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100%;
  }
  
  .contact .info-item i {
    font-size: 20px;
    color: var(--accent-color);
    width: 56px;
    height: 56px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    border: 2px dotted color-mix(in srgb, var(--accent-color), transparent 40%);
    margin-bottom: 15px;
  }
  
  .contact .info-item h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 5px 0;
  }
  
  .contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
  }
  
  .contact .section-title {
    text-align: center;
    padding-bottom: 5px;
    position: relative;
  }
  
  .contact .section-title h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    margin-top: 0px;
  }
  
  .contact .section-title h2:before,
  .contact .section-title h2:after {
    content: "";
    width: 50px;
    height: 2px;
    background: var(--accent-color);
    display: inline-block;
  }
  
  .contact .section-title h2:before {
    margin: 0 15px 10px 0;
  }
  
  .contact .section-title h2:after {
    margin: 0 0 10px 15px;
  }
  
  .contact iframe {
    max-width: 100%;
  }
.contact .offer-button {
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 4px;
    transition: 0.2s;
    margin: 10px;
    margin-bottom: 37px;
    border: 2px solid var(--accent-color);
  }
  
  .contact .offer-button:hover {
    background: var(--accent-color);
    color: var(--contrast-color);
  }