// main: ../main.scss
/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body defaults */
body {
  font-family: var(--default-font);
  background-color: var(--background-color);
  color: var(--default-color);
  scroll-behavior: smooth;
  transition: color .2s, background-color .2s;
}

/* Anchor utilities */
a {
  color: var(--accent-color);
  text-decoration: none;
  transition: color .2s;
}
a:hover {
  color: rgba(47,173,111, .75);
}

:root {
    /* Smooth scroll */
      scroll-behavior: smooth;
    }
    
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}