{% extends "common/base_hu.html" %}
{% set lang = "hu" %}
{% set page_title = "Movasol - Kapcsolat" %}
{% set body_class = "contact-page" %}
{% block content %}

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(assets/img/page-title-bg.jpg);">
      <div class="container position-relative">
        <h1>Kapcsolat</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="hu">Kezdőlap</a></li>
            <li class="current">Kapcsolat</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6">
            <div class="row gy-4">
              <div class="col-lg-6 col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Telefon</h3>
                  <p>+36 20 268 8914</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Email</h3>
                  <p>info@movasol.hu</p>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Cím</h3>
                  <p>1026 Budapest Riadó utca 1-3.</p>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="500"> <i class="bi bi-clock"></i> <h3>Nyitvatartás</h3>
                    <p>Hétfő-péntek: 09:00-17:00</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div data-aos="fade-up" data-aos-delay="300">
              <div class="container section-title" data-aos="fade-up">
                <h2>Ajánlatkérés</h2>
              </div>
              <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-6 text-center">
                  <a href="" class="round-button">Kivitelezés</a>
                </div>
                <div class="col-lg-6 text-center">
                  <a href="" class="round-button">Üzemeltetés</a>
                </div>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2694.3742912681914!2d18.99131107619811!3d47.52157559384538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741decfcd14f885%3A0x9677136f5a6e44cb!2sBudapest%2C%20Riad%C3%B3%20u.%201%2C%201026!5e0!3m2!1shu!2shu!4v1742222313768!5m2!1shu!2shu" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>

    </section> <!--/Contact Section -->

    {% endblock %}