{% extends "common/base_hu.html" %}
{% set lang = "hu" %}
{% set page_title = "Movasol - Rólunk" %}
{% set body_class = "about-page" %}
{% block content %}

    <!-- Page Title -->
    <div class="page-title dark-background" style="background-image: url(/assets/img/background/background_solar.jpg);">
      <div class="container position-relative">
        <h1>Rólunk</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="/hu">Kezdőlap</a></li>
            <li class="current">Rólunk</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row position-relative">

          <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="/assets/img/team/paros_vagott.jpg" alt="About us"></div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <h2 class="inner-title">Egy megújuló<br>jövő érdekében</h2>
            <div class="our-story">
              <h3>Történetünk</h3>
              <p>Vállalatunk 2023-ban alakult meg azzal a céllal, hogy a napenergia kiaknázásában piacvezető szerepet töltsön be. Kezdetben regionális projektmenedzsmenttel és telepítéssel foglalkoztunk, mára azonban több mint 200 MW beépített kapacitásnál járunk, és országos lefedettséget biztosítunk a napelemparkok építése és karbantartása terén.</p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>Teljeskörű projektmenedzsment az ideális telephelytől a hálózatra csatlakoztatásig</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Valós idejű üzemeltetési monitoring és prediktív karbantartási szolgáltatások</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Innovatív finanszírozási modellek és iparági partnerségek a fenntartható növekedésért</span></li>
              </ul>
              <p>Stratégiai célunk, hogy a következő évtizedben is élen járjunk a technológiai fejlesztésekben és a hatékonyságnövelésben. Elkötelezettek vagyunk a karbonsemlegesség, a megbízhatóság és a hosszú távú értékteremtés mellett, hogy ügyfeleink teljes körű energiabiztonságát garantáljuk.</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Stats Counter Section -->
    <section id="stats-counter" class="stats-counter section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Stats</h2>
        <p>Kulcsfontosságú mutatóink az iparágvezető hatékonyságot, megbízhatóságot és fenntartható növekedést tükrözik minden területen.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                <p>Happy Clients</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="21" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-headset color-green flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hours Of Support</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-people color-pink flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hard Workers</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Counter Section -->

    <!-- Alt Services Section -->
    <section id="alt-services" class="alt-services section">

      <div class="container">

        <div class="row justify-content-around gy-4">
          <div class="features-image col-lg-6" data-aos="fade-up" data-aos-delay="100"><img src="/assets/img/alt-services.jpg" alt=""></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <h3>Mission statement</h3>
            <p>Célunk, hogy fenntartható energiamegoldások révén hozzájáruljunk a zöld jövő megteremtéséhez. Komplett napelemparkok tervezésére, kivitelezésére és hosszú távú üzemeltetésére szakosodva biztosítjuk partnereink számára a megbízható, költséghatékony és környezetbarát energiaellátást.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Tervezés és kivitelezés</a></h4>
                <p>Teljes körű projektmenedzsmentet biztosítunk a kezdeti felmérésektől a rendszer átadásáig. Műszaki szakértelmünk garantálja az optimális rendszerhatékonyságot.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Karbantartás és üzemeltetés</a></h4>
                <p>Folyamatos monitoring és preventív karbantartás révén maximalizáljuk a rendszer élettartamát és hozamát, minimalizálva az üzemszüneteket.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Fenntartható megoldások</a></h4>
                <p>Környezetbarát technológiákat alkalmazunk, amelyek hosszú távon is gazdaságos és felelősségteljes energiatermelést tesznek lehetővé.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="600">
              <i class="bi bi-graph-up-arrow flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Megtérülés és befektetésvédelem</a></h4>
                <p>Partnereink számára stabil, hosszú távon kiszámítható megtérülést biztosítunk a legkorszerűbb technológiai megoldások alkalmazásával.</p>
              </div>
            </div><!-- End Icon Box -->
          </div>
        </div>

      </div>

    </section><!-- /Alt Services Section -->

    <!-- Alt Services 2 Section -->
    <section id="alt-services-2" class="alt-services-2 section">

      <div class="container">

        <div class="row justify-content-around gy-4">

          <div class="col-lg-6 d-flex flex-column justify-content-center order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
            <h3>Minősítések</h3>
            <p>Vállalatunk elkötelezett a legmagasabb minőségi és biztonsági előírások betartása mellett. Tanúsítványaink igazolják szakértelmünket és megbízhatóságunkat a napelemparkok tervezése, kivitelezése és karbantartása terén.</p>

            <div class="row">

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-easel flex-shrink-0"></i>
                <div>
                  <h4>ISO 9001:2015 Minőségirányítási Rendszer</h4>
                  <p>Bevezetett és folyamatosan fejlesztett minőségirányítási folyamatok, melyek garantálják a projektek határidőre és a műszaki előírásoknak megfelelő teljesítését.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-patch-check flex-shrink-0"></i>
                <div>
                  <h4>ISO 14001 Környezetközpontú Irányítás</h4>
                  <p>Környezeti hatásaink folyamatos nyomon követése és csökkentése; zöldenergia-projektek környezetbarát kivitelezése és üzemeltetése.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-brightness-high flex-shrink-0"></i>
                <div>
                  <h4>IEC 61215 Modulminősítési Tanúsítvány</h4>
                  <p>Nemzetközi szabványoknak megfelelő fotovoltaikus modulok alkalmazása, amely a hosszú távú teljesítmény és megbízhatóság záloga.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-lg-6 icon-box d-flex">
                <i class="bi bi-graph-up-arrow flex-shrink-0"></i>
                <div>
                  <h4>Magyar Energia Hivatal Engedély</h4>
                  <p>Hivatalos működési engedély és hálózati csatlakozási jogosultság nagy kapacitású napelemparkok telepítésére és üzemeltetésére.</p>
                </div>
              </div><!-- End Icon Box -->

            </div>
          </div>

          <div class="features-image col-lg-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
            <img src="/assets/img/features-4.jpg" alt="">
          </div>

        </div>

      </div>

    </section><!-- /Alt Services 2 Section -->

    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Csapatunk</h2>
        <p>Magasan képzett mérnökökből, projektmenedzserekből és műszaki szakértőkből álló csapatunk többéves tapasztalattal rendelkezik a napelemparkok tervezésében, kivitelezésében és üzemeltetésében. Karizmatikus vezetésünk és kollégáink elkötelezettsége garantálja a precíz kivitelezést és a folyamatos fejlődést.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-6 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="/assets/img/team/laci.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Módos László</h4>
              <span>IGAZGATÓSÁGI TAG</span>
              <!--<p>Aliquam iure quaerat voluptatem praesentium possimus unde laudantium vel dolorum distinctio dire flow</p>-->
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-6 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="/assets/img/team/guszti.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Varga Gusztáv</h4>
              <span>IGAZGATÓSÁGI TAG</span>
              <!--<p>Labore ipsam sit consequatur exercitationem rerum laboriosam laudantium aut quod dolores exercitationem ut</p>-->
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
            <div class="member-img">
              <img src="/assets/img/team/anti.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Kis Antal</h4>
              <span>PROJEKT IGAZGATÓ</span>
              <!--<p>Qui consequuntur quos accusamus magnam quo est molestiae eius laboriosam sunt doloribus quia impedit laborum velit</p>-->
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
            <div class="member-img">
              <img src="/assets/img/team/jozsi.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Pálos József</h4>
              <span>SENIOR ÉPÍTÉSZMÉRNÖK  FELELŐS MŰSZAKI VEZETŐ</span>
              <!--<p>Qui consequuntur quos accusamus magnam quo est molestiae eius laboriosam sunt doloribus quia impedit laborum velit</p>-->
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
            <div class="member-img">
              <img src="/assets/img/team/black_filler.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Szmodics Ádám</h4>
              <span>MŰSZAKI IGAZGATÓ</span>
              <!--<p>Qui consequuntur quos accusamus magnam quo est molestiae eius laboriosam sunt doloribus quia impedit laborum velit</p>-->
            </div>
            
          </div><!-- End Team Member -->
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="/assets/img/team/judit.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Szabó Judit</h4>
              <span>PÉNZÜGYI IGAZGATÓ</span>
              <!--<p>Magni voluptatem accusamus assumenda cum nisi aut qui dolorem voluptate sed et veniam quasi quam consectetur</p>-->
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="/assets/img/team/csaba.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Hanzély Csaba</h4>
              <span>SENIOR ÉPÍTÉSZMÉRNÖK  FELELŐS MŰSZAKI VEZETŐ</span>
              <!--<p>Magni voluptatem accusamus assumenda cum nisi aut qui dolorem voluptate sed et veniam quasi quam consectetur</p>-->
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
            <div class="member-img">
              <img src="/assets/img/team/livi.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Koza Lívia</h4>
              <span>SENIOR PROJEKTMÉRNÖK</span>
              <!--<p>Sint sint eveniet explicabo amet consequatur nesciunt error enim rerum earum et omnis fugit eligendi cupiditate vel</p>-->
            </div>
          </div><!-- End Team Member -->
        
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="/assets/img/team/bence.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Szobota Bence</h4>
              <span>PROJEKTMENEDZSER</span>
              <!--<p>Aliquam iure quaerat voluptatem praesentium possimus unde laudantium vel dolorum distinctio dire flow</p>-->
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
            <div class="member-img">
              <img src="/assets/img/team/kitti.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Németh Kitti</h4>
              <span>PROJEKTMENEDZSER</span>
              <!--<p>Qui consequuntur quos accusamus magnam quo est molestiae eius laboriosam sunt doloribus quia impedit laborum velit</p>-->
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="/assets/img/team/jani.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Huber János</h4>
              <span>KEY ACCOUNT MANAGER</span>
              <!--<p>Labore ipsam sit consequatur exercitationem rerum laboriosam laudantium aut quod dolores exercitationem ut</p>-->
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="/assets/img/team/zsolt.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Gyurkó Zsolt</h4>
              <span>HR TANÁCSADÓ</span>
              <!--<p>Illum minima ea autem doloremque ipsum quidem quas aspernatur modi ut praesentium vel tque sed facilis at qui</p>-->
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="/assets/img/team/babi.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Lőrincz Bernadett</h4>
              <span>HR MENEDZSER</span>
              <!--<p>Illum minima ea autem doloremque ipsum quidem quas aspernatur modi ut praesentium vel tque sed facilis at qui</p>-->
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
            <div class="member-img">
              <img src="/assets/img/team/kata.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Varga Kata</h4>
              <span>PÉNZÜGYI KOORDINÁTOR</span>
              <!--<p>Qui consequuntur quos accusamus magnam quo est molestiae eius laboriosam sunt doloribus quia impedit laborum velit</p>-->
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
            <div class="member-img">
              <img src="/assets/img/team/black_filler.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Bukács Krisztina</h4>
              <span>PÉNZÜGYI ASSZISZTENS</span>
              <!--<p>Qui consequuntur quos accusamus magnam quo est molestiae eius laboriosam sunt doloribus quia impedit laborum velit</p>-->
            </div>
          </div><!-- End Team Member -->
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
            <div class="member-img">
              <img src="/assets/img/team/peti.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info text-center">
              <h4>Marittyák Péter</h4>
              <span>KEY ACCOUNT MANAGER</span>
              <!--<p>Qui consequuntur quos accusamus magnam quo est molestiae eius laboriosam sunt doloribus quia impedit laborum velit</p>-->
            </div>
          </div><!-- End Team Member -->
        </div>

      </div>

    </section><!-- /Team Section -->

    {% endblock %}