<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ meta_description }}">
  <meta name="keywords"    content="{{ meta_keywords }}">

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="/assets/img/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/assets/img/favicon.svg" />
  <link rel="shortcut icon" href="/assets/img/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png" />
  <link rel="manifest" href="/assets/img/site.webmanifest" />

  <!-- Fonts -->
  <link rel="preload"
        href="https://fonts.gstatic.com/s/inter/v12/Inter-VariableFont_slnt,wght.ttf"
        as="font"
        type="font/ttf"
        crossorigin>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap"
        media="print"
        onload="this.media='all'">
  <noscript>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap"
          rel="stylesheet">
  </noscript>

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>
  
    <!-- Vendor JS Files -->
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>

  <link href="/assets/css/main.css" rel="stylesheet">
  <script src="/assets/js/route-manager.js" defer></script>
  <script src="/assets/js/theme.js"     defer></script>
  <script src="/assets/js/main.js"      defer></script>
</head>
  <!-- =======================================================
  * Template Name: Movasol
  * Template URL: https://bootstrapmade.com/Movasol-bootstrap-construction-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <body class="{{ body_class }}">

    {% include "header_en.html" %}
  
    <!-- page-specific content -->
    <main>
      {% block content %}{% endblock %}
    </main>
  
    {% include "footer_en.html" %}
  
  </body>
  </html>