<footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4 gx-0 align-items-stretch">
        <div class="col-lg-1 col-md-6 footer-about px-0">
          <img src="/assets/img/logo/logo_w.png" alt="Movasol Logo">
          <div class="social-links d-flex mt-0">
            <a href="https://www.facebook.com/SolarproHungary/"><i class="bi bi-facebook"></i></a>
            <a href="https://www.linkedin.com/company/solarpro-energy-hungary/"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-about px-0">
          <div class="footer-about-placeholder-header"></div>
          <ul>
            <li><strong>Iroda: </strong>1026 Budapest</li>
            <li>Riadó utca 1-3.</li>
            <li><strong>Telefon: </strong> <span>+36 20 268 8914</span></li>
            <li><strong>Email: </strong> <span>info@movasol.hu</span></li>
          </ul> 
        </div>

        <div class="col-lg-1 col-md-6 footer-links px-0">
          <h4>Linkek</h4>
          <ul>
            <li><a href="/hu">Főoldal</a></li>
            <li><a href="/hu/szolgaltatasok">Szolgáltatások</a></li>
            <li><a href="/hu/projektek">Projektek</a></li>
          </ul> 
        </div>

        <div class="col-lg-2 col-md-6 footer-links px-0">
          <div class="footer-links-placeholder-header"></div>
          <ul>
            <li><a href="/hu/rolunk">Rólunk</a></li>
            <li><a href="/hu/kapcsolat">Kapcsolat</a></li>
          </ul> 
        </div>

        <div class="col-lg-2 col-md-6 footer-links px-0">
          <h4>Szolgáltatások</h4>
          <ul>
            <li><a href="/hu/projects-details">Fejlesztés</a></li>
            <li><a href="/hu/projects-details">Műszaki-pénzügyi tanácsadás</a></li>
            <li><a href="/hu/projects-details">Generálkivitelezés</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links px-0">
          <div class="footer-links-placeholder-header"></div>
          <ul>
            <li><a href="/hu/projects-details">Mérések és üzembe helyezés</a></li>
            <li><a href="/hu/projects-details">Üzemeltetés</a></li>
            <li><a href="/hu/projects-details">Gyártói szakszervíz</a></li>
          </ul>
        </div>

        <!--<div class="col-lg-2 col-md-3 footer-links mx-lg-5 mx-md-5">
          <h4>&nbsp;</h4>
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
          </ul>
        </div>-->
      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Movasol</strong> <span>Minden jog fenntartva</span></p>
      <p>Készítette Pálos Ferenc.</p>
    </div>

  </footer>