<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
  
      <a href="/en/" class="logo d-flex align-items-center">
        <img src="../assets/img/logo/movasol_gg.png" alt="Movasol Logo">
      </a>
  
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/en/">Home</a></li>
          <li><a href="/en/services">Services</a></li>
          <li><a href="/en/projects">Projects</a></li>
          <li><a href="/en/about">About Us</a></li>
          <li><a href="/en/news">News</a></li>
          <li><a href="/en/contact">Contact</a></li>
        </ul>
  
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
  
      <div class="theme-switcher">
        <button id="theme-toggle" class="theme-btn" aria-pressed="false">
          <i class="bi bi-moon"></i>
        </button>
      </div>
  
      <div class="language-switcher">
        <button onclick="setLanguage('hu')" class="lang-btn" id="btn-hu">HU</button>
        <button onclick="setLanguage('en')" class="lang-btn" id="btn-en">EN</button>
      </div>
  
    </div>
  </header>
  